//Nadpis

.nadpis
{
   text-align: center;
   font-size: 5em;
   top: 20px;
}

//Vyplnte formular

.formular
{
   left: 250px;
   top: 120px;
}

//papir

.papir
{
    text-align: center;
    top: 720px;
}

//obalka

.obalka
{
    text-align: center;
    top: 1200px;
}

//rozmisteni formulare

.jedna  
{
  position: relative;
  top: -28px;
}

.dva
{
  position: relative;
  top: 47px;
}

.tri
{
  position: relative;
  top: 122px;
}

.ctyri
{
  position: relative;
  top: 197px;
}
.p 
{
   top: 242px;
}

.content__papir
{
    top: 600px;
    left: 330;
}

.content__obalka
{
    left: -360px;
    top: 1100px;
}
